<div class="panel-header panel-header-sm">
</div>
<div class="wrapper">
  <div class="header bg-gradient-danger py-7 py-lg-8 ">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">

        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card card-user">
      <div class="image">

      </div>
      <div class="card-body">
        <div class="author">
          <a href="/electeur/recent">
            <img class="avatar border-gray" src="../assets/img/fingerprint.png" alt="...">
            <h5 class="title">Introduisez votre empreinte</h5>
          </a>
        </div>
      </div>

  <footer class="footer">
    <div class="container-fluid">
      <nav>
        <ul>
          <li>
  
          </li>
          <li>

          </li>
          <li>

          </li>
        </ul>
      </nav>
      <div class="copyright">

      </div>
    </div>
  </footer>
